build
.cache
test/system/plux
*.a
*.o
*~
.#*
\#*#
tags
aclocal.m4
autom4te.cache
depcomp
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
.deps
.dirstamp
install-sh
missing
stamp-h1
Makefile
Makefile.in
/data/scripts/pekwm_theme
/data/scripts/*.sh
/dev/check
/src/panel/pekwm_panel
/src/panel/pekwm_panel_sysinfo
/src/bg/pekwm_bg
/src/cfg/pekwm_cfg
/src/ctrl/pekwm_ctrl
/src/dialog/pekwm_dialog
/src/screenshot/pekwm_screenshot
/src/sys/pekwm_sys
/src/wm/pekwm
/src/wm/pekwm_wm
