aclocal.m4
autom4te.cache
config.guess
config.h
/config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
missing
stamp-h1

Makefile
Makefile.in

build

src/.deps/
src/pekwm

data/scripts/pekwm_themeset.sh
data/scripts/pekwm_ws_menu.sh

doc/fin/
doc/index.xml
doc/logs/

*.o
*.a
*~
