build
test/system/plux
*.o
*~
.#*
\#*#
tags
data/scripts/pekwm_theme
data/scripts/pekwm_themeset.sh
data/scripts/pekwm_ws_menu.sh
dev/check
mk/config.h
mk/config.mk
src/pekwm
src/pekwm_bg
src/pekwm_cfg
src/pekwm_ctrl
src/pekwm_dialog
src/pekwm_panel
src/pekwm_screenshot
src/pekwm_wm
