<chapter id="config-menu" xreflabel="Configuring the menus">
<?dbhtml filename="menu.html" dir="config"?>
<title>Configuring the menus</title>
<para>The root menu is what you get when you (by default- See the 
<xref linkend="config-keys_mouse-mouse"/> section) 
left-click on the root window (also called the desktop).
You can also configure the window menu, which you get when
you right-click on a window title.</para>

&config-menu-basic;
&config-menu-keywords;
&config-menu-custommenus;
&config-menu-dynamic;

<!-- 
&usage-grouping-what;
&usage-grouping-basics;
&usage-grouping-build; -->

</chapter>
