INCLUDE = "$_PEKWM_ETC_PATH/config_system"

Files {
	AutoProps = "./pekwm.autoproperties"
	Theme = "missing"
}

Screen {
	ReportAllClients = "False"
}

Sys {
	XSettings = "True"
	XSettingsPath = ""
	LocationLookup = "False"
	NetTheme = "Raleigh"
	NetIconTheme = "Tango"
	DaytimeCommands {
		Test = "./pekwm_sys_daytime_script.sh"
	}
	XResources {
		Day {
			"XTerm*background" = "#ffffff"
			"XTerm*foreground" = "#000000"
		}
		Night {
			"XTerm*background" = "#000000"
			"XTerm*foreground" = "#ffffff"
		}
	}
}
